<a href="https://colab.research.google.com/github/nsitizen/Percobaan-GitHub/blob/main/File_Python_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro
File (CSV) I/O pada Python bertujuan untuk melatih dan memberikan wawasan kepada pembelajar agar bisa memahami penggunaan operasi read, find, insert, update dan delete pada file CSV.

File CSV yang digunakan pada latihan ini bersumber dari studi kasus HR pada Oracle yang sudah dikonversi dalam format CSV.

Latihan ini disajikan sebagai pengenalan dasar sebelum pembelajar menggunakan DBMS (Database Management System). Harapannya pembelajar memiliki pengalaman melakukan pemrosesan file secara langsung, sebelum dimudahkan oleh operasi-operasi yang telah disediakan oleh DBMS untuk memproses data tabular.

Pada latihan ini terdapat 10 instruksi yang dapat dikerjakan oleh pembelajar, dan harus menyesuaikan dengan output yang telah disediakan. Pembelajar tidak diperkenankan menggunakan module selain `csv`.

# Import Module
Module CSV digunakan untuk membaca file CSV.

Module Drive digunakan untuk memuat dan meminta izin mengakses direktori dan file pada Google Drive.

In [328]:
import csv
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Menentukan Path Direktori
Mempersiapkan path direktori yang berisikan kumpulan file CSV pada variable `csv_path`

In [329]:
# Sesuaikan path direktori masing-masing
csv_path = '/content/drive/MyDrive/Colab Notebooks/file-csv-python-main/oracle-hr-csv/'

# Procedure Read File
Pada procedure `read_file` berfungsi untuk membaca file CSV dan menampilkan seluruh isi dari file CSV yang dipilih.

Procedure ini masih memiliki keterbatasan jumlah kolom yang dapat ditampilkan.

In [330]:
def read_file(csv_file_name):
  with open(csv_path + csv_file_name, mode='r') as csv_file:
      csv_reader = csv.reader(csv_file, delimiter=',')
      line_count = 0
      for row in csv_reader:
          if line_count == 0:
              print(f'Column names:')
          print(f'{row[0]}, {row[1]}, {row[2]}')
          line_count += 1
      print(f'Processed {line_count} lines include header.')
  csv_file.close()

Memanggil procedure `read_file` untuk membaca file `countries.csv` yang terdiri dari 3 kolom.

In [331]:
read_file('countries.csv')

Column names:
country_id, country_name, region_id
AR, Argentina, 2
AU, Australia, 3
BE, Belgium, 1
BR, Brazil, 2
CA, Canada, 2
CH, Switzerland, 1
CN, China, 3
DE, Germany, 1
DK, Denmark, 1
EG, Egypt, 4
FR, France, 1
IL, Israel, 4
IN, India, 3
IT, Italy, 1
JP, Japan, 3
KW, Kuwait, 4
ML, Malaysia, 3
MX, Mexico, 2
NG, Nigeria, 4
NL, Netherlands, 1
SG, Singapore, 3
UK, 'United Kingdom', 1
US, 'United States of America', 2
ZM, Zambia, 4
ZW, Zimbabwe, 4
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
Processed 40 lines include header.

**Instruksi 1:** Definisikan ulang procedure `read_file` untuk dapat **menampilkan seluruh kolom**.

In [332]:
def read_file(csv_file_name):
  with open(csv_path + csv_file_name, mode='r') as csv_file:
      csv_reader = csv.reader(csv_file, delimiter=',')
      line_count = 0
      for row in csv_reader:
          if line_count == 0:
              print(f'Column names:')
          print(f'{row[0]}, {row[1]}')
          line_count += 1
      print(f'Processed {line_count} lines include header.')
  csv_file.close()

Memanggil procedure `read_file` untuk membaca file `regions.csv` yang terdiri dari 2 kolom.

In [333]:
read_file('regions.csv')

Column names:
region_id, region_name
1, Europe
2, Americas
3, Asia
4, 'Middle East and Africa'
Processed 5 lines include header.

In [334]:
def read_file(csv_file_name):
  with open(csv_path + csv_file_name, mode='r') as csv_file:
      csv_reader = csv.reader(csv_file, delimiter=',')
      line_count = 0
      for row in csv_reader:
          if line_count == 0:
              print(f'Column names:')
          print(f'{row[0]}, {row[1]}, {row[2]}, {row[3]}, {row[4]}, {row[5]}, {row[6]}, {row[7]}, {row[8]}, {row[9]}, {row[10]}')
          line_count += 1
      print(f'Processed {line_count} lines include header.')
  csv_file.close()

Memanggil procedure `read_file` untuk membaca file `employees.csv` yang terdiri dari 11 kolom.

In [335]:
read_file('employees.csv')

Column names:
employee_id, first_name, last_name, email, phone_number, hire_date, job_id, salary, commission_pct, manager_id, department_id
100, Steven, King, SKING, 515.123.4567, 2003-06-17, AD_PRES, 24000, NULL, NULL, 90
101, Neena, Kochhar, NKOCHHAR, 515.123.4568, 2005-09-21, AD_VP, 17000, NULL, 100, 90
102, Lex, 'De Haan', LDEHAAN, 515.123.4569, 2001-01-13, AD_VP, 17000, NULL, 100, 90
103, Alexander, Hunold, AHUNOLD, 590.423.4567, 2006-01-03, IT_PROG, 9000, NULL, 102, 60
104, Bruce, Ernst, BERNST, 590.423.4568, 2007-05-21, IT_PROG, 6000, NULL, 103, 60
105, David, Austin, DAUSTIN, 590.423.4569, 2005-06-25, IT_PROG, 4800, NULL, 103, 60
106, Valli, Pataballa, VPATABAL, 590.423.4560, 2006-02-05, IT_PROG, 4800, NULL, 103, 60
107, Diana, Lorentz, DLORENTZ, 590.423.5567, 2007-02-07, IT_PROG, 4200, NULL, 103, 60
108, Nancy, Greenberg, NGREENBE, 515.124.4569, 2002-08-17, FI_MGR, 12008, NULL, 101, 100
109, Daniel, Faviet, DFAVIET, 515.124.4169, 2002-08-16, FI_ACCOUNT, 9000, NULL, 108, 100
110, John, Chen, JCHEN, 515.124.4269, 2005-09-28, FI_ACCOUNT, 8200, NULL, 108, 100
111, Ismael, Sciarra, ISCIARRA, 515.124.4369, 2005-09-30, FI_ACCOUNT, 7700, NULL, 108, 100
112, 'Jose Manuel', Urman, JMURMAN, 515.124.4469, 2006-03-07, FI_ACCOUNT, 7800, NULL, 108, 100
113, Luis, Popp, LPOPP, 515.124.4567, 2007-12-07, FI_ACCOUNT, 6900, NULL, 108, 100
114, Den, Raphaely, DRAPHEAL, 515.127.4561, 2002-12-07, PU_MAN, 11000, NULL, 100, 30
115, Alexander, Khoo, AKHOO, 515.127.4562, 2003-05-18, PU_CLERK, 3100, NULL, 114, 30
116, Shelli, Baida, SBAIDA, 515.127.4563, 2005-12-24, PU_CLERK, 2900, NULL, 114, 30
117, Sigal, Tobias, STOBIAS, 515.127.4564, 2005-07-24, PU_CLERK, 2800, NULL, 114, 30
118, Guy, Himuro, GHIMURO, 515.127.4565, 2006-11-15, PU_CLERK, 2600, NULL, 114, 30
119, Karen, Colmenares, KCOLMENA, 515.127.4566, 2007-08-10, PU_CLERK, 2500, NULL, 114, 30
120, Matthew, Weiss, MWEISS, 650.123.1234, 2004-07-18, ST_MAN, 8000, NULL, 100, 50
121, Adam, Fripp, AFRIPP, 650.123.2234, 2005-04-10, ST_MAN, 8200, NULL, 100, 50
122, Payam, Kaufling, PKAUFLIN, 650.123.3234, 2003-05-01, ST_MAN, 7900, NULL, 100, 50
123, Shanta, Vollman, SVOLLMAN, 650.123.4234, 2005-10-10, ST_MAN, 6500, NULL, 100, 50
124, Kevin, Mourgos, KMOURGOS, 650.123.5234, 2007-11-16, ST_MAN, 5800, NULL, 100, 50
125, Julia, Nayer, JNAYER, 650.124.1214, 2005-07-16, ST_CLERK, 3200, NULL, 120, 50
126, Irene, Mikkilineni, IMIKKILI, 650.124.1224, 2006-09-28, ST_CLERK, 2700, NULL, 120, 50
127, James, Landry, JLANDRY, 650.124.1334, 2007-01-14, ST_CLERK, 2400, NULL, 120, 50
128, Steven, Markle, SMARKLE, 650.124.1434, 2008-03-08, ST_CLERK, 2200, NULL, 120, 50
129, Laura, Bissot, LBISSOT, 650.124.5234, 2005-08-20, ST_CLERK, 3300, NULL, 121, 50
130, Mozhe, Atkinson, MATKINSO, 650.124.6234, 2005-10-30, ST_CLERK, 2800, NULL, 121, 50
131, James, Marlow, JAMRLOW, 650.124.7234, 2005-02-16, ST_CLERK, 2500, NULL, 121, 50
132, TJ, Olson, TJOLSON, 650.124.8234, 2007-04-10, ST_CLERK, 2100, NULL, 121, 50
133, Jason, Mallin, JMALLIN, 650.127.1934, 2004-06-14, ST_CLERK, 3300, NULL, 122, 50
134, Michael, Rogers, MROGERS, 650.127.1834, 2006-08-26, ST_CLERK, 2900, NULL, 122, 50
135, Ki, Gee, KGEE, 650.127.1734, 2007-12-12, ST_CLERK, 2400, NULL, 122, 50
136, Hazel, Philtanker, HPHILTAN, 650.127.1634, 2008-02-06, ST_CLERK, 2200, NULL, 122, 50
137, Renske, Ladwig, RLADWIG, 650.121.1234, 2003-07-14, ST_CLERK, 3600, NULL, 123, 50
138, Stephen, Stiles, SSTILES, 650.121.2034, 2005-10-26, ST_CLERK, 3200, NULL, 123, 50
139, John, Seo, JSEO, 650.121.2019, 2006-02-12, ST_CLERK, 2700, NULL, 123, 50
140, Joshua, Patel, JPATEL, 650.121.1834, 2006-04-06, ST_CLERK, 2500, NULL, 123, 50
141, Trenna, Rajs, TRAJS, 650.121.8009, 2003-10-17, ST_CLERK, 3500, NULL, 124, 50
142, Curtis, Davies, CDAVIES, 650.121.2994, 2005-01-29, ST_CLERK, 3100, NULL, 124, 50
143, Randall, Matos, RMATOS, 650.121.2874, 2006-03-15, ST_CLERK, 2600, NULL, 124, 50
144, Peter, Vargas, PVARGAS, 650.121.2004, 2006-07-09, ST_CLERK, 2500, NULL, 124, 50
145, John, Russell, JRUSSEL, 011.44.1344.429268, 2004-10-01, SA_MAN, 14000, 0.4, 100, 80
146, Karen, Partners, KPARTNER, 011.44.1344.467268, 2005-01-05, SA_MAN, 13500, 0.3, 100, 80
147, Alberto, Errazuriz, AERRAZUR, 011.44.1344.429278, 2005-03-10, SA_MAN, 12000, 0.3, 100, 80
148, Gerald, Cambrault, GCAMBRAU, 011.44.1344.619268, 2007-10-15, SA_MAN, 11000, 0.3, 100, 80
149, Eleni, Zlotkey, EZLOTKEY, 011.44.1344.429018, 2008-01-29, SA_MAN, 10500, 0.2, 100, 80
150, Peter, Tucker, PTUCKER, 011.44.1344.129268, 2005-01-30, SA_REP, 10000, 0.3, 145, 80
151, David, Bernstein, DBERNSTE, 011.44.1344.345268, 2005-03-24, SA_REP, 9500, 0.25, 145, 80
152, Peter, Hall, PHALL, 011.44.1344.478968, 2005-08-20, SA_REP, 9000, 0.25, 145, 80
153, Christopher, Olsen, COLSEN, 011.44.1344.498718, 2006-03-30, SA_REP, 8000, 0.2, 145, 80
154, Nanette, Cambrault, NCAMBRAU, 011.44.1344.987668, 2006-12-09, SA_REP, 7500, 0.2, 145, 80
155, Oliver, Tuvault, OTUVAULT, 011.44.1344.486508, 2007-11-23, SA_REP, 7000, 0.15, 145, 80
156, Janette, King, JKING, 011.44.1345.429268, 2004-01-30, SA_REP, 10000, 0.35, 146, 80
157, Patrick, Sully, PSULLY, 011.44.1345.929268, 2004-03-04, SA_REP, 9500, 0.35, 146, 80
158, Allan, McEwen, AMCEWEN, 011.44.1345.829268, 2004-08-01, SA_REP, 9000, 0.35, 146, 80
159, Lindsey, Smith, LSMITH, 011.44.1345.729268, 2005-03-10, SA_REP, 8000, 0.3, 146, 80
160, Louise, Doran, LDORAN, 011.44.1345.629268, 2005-12-15, SA_REP, 7500, 0.3, 146, 80
161, Sarath, Sewall, SSEWALL, 011.44.1345.529268, 2006-11-03, SA_REP, 7000, 0.25, 146, 80
162, Clara, Vishney, CVISHNEY, 011.44.1346.129268, 2005-11-11, SA_REP, 10500, 0.25, 147, 80
163, Danielle, Greene, DGREENE, 011.44.1346.229268, 2007-03-19, SA_REP, 9500, 0.15, 147, 80
164, Mattea, Marvins, MMARVINS, 011.44.1346.329268, 2008-01-24, SA_REP, 7200, 0.1, 147, 80
165, David, Lee, DLEE, 011.44.1346.529268, 2008-02-23, SA_REP, 6800, 0.1, 147, 80
166, Sundar, Ande, SANDE, 011.44.1346.629268, 2008-03-24, SA_REP, 6400, 0.1, 147, 80
167, Amit, Banda, ABANDA, 011.44.1346.729268, 2008-04-21, SA_REP, 6200, 0.1, 147, 80
168, Lisa, Ozer, LOZER, 011.44.1343.929268, 2005-03-11, SA_REP, 11500, 0.25, 148, 80
169, Harrison, Bloom, HBLOOM, 011.44.1343.829268, 2006-03-23, SA_REP, 10000, 0.2, 148, 80
170, Tayler, Fox, TFOX, 011.44.1343.729268, 2006-01-24, SA_REP, 9600, 0.2, 148, 80
171, William, Smith, WSMITH, 011.44.1343.629268, 2007-02-23, SA_REP, 7400, 0.15, 148, 80
172, Elizabeth, Bates, EBATES, 011.44.1343.529268, 2007-03-24, SA_REP, 7300, 0.15, 148, 80
173, Sundita, Kumar, SKUMAR, 011.44.1343.329268, 2008-04-21, SA_REP, 6100, 0.1, 148, 80
174, Ellen, Abel, EABEL, 011.44.1644.429267, 2004-05-11, SA_REP, 11000, 0.3, 149, 80
175, Alyssa, Hutton, AHUTTON, 011.44.1644.429266, 2005-03-19, SA_REP, 8800, 0.25, 149, 80
176, Jonathon, Taylor, JTAYLOR, 011.44.1644.429265, 2006-03-24, SA_REP, 8600, 0.2, 149, 80
177, Jack, Livingston, JLIVINGS, 011.44.1644.429264, 2006-04-23, SA_REP, 8400, 0.2, 149, 80
178, Kimberely, Grant, KGRANT, 011.44.1644.429263, 2007-05-24, SA_REP, 7000, 0.15, 149, NULL
179, Charles, Johnson, CJOHNSON, 011.44.1644.429262, 2008-01-04, SA_REP, 6200, 0.1, 149, 80
180, Winston, Taylor, WTAYLOR, 650.507.9876, 2006-01-24, SH_CLERK, 3200, NULL, 120, 50
181, Jean, Fleaur, JFLEAUR, 650.507.9877, 2006-02-23, SH_CLERK, 3100, NULL, 120, 50
182, Martha, Sullivan, MSULLIVA, 650.507.9878, 2007-06-21, SH_CLERK, 2500, NULL, 120, 50
183, Girard, Geoni, GGEONI, 650.507.9879, 2008-02-03, SH_CLERK, 2800, NULL, 120, 50
184, Nandita, Sarchand, NSARCHAN, 650.509.1876, 2004-01-27, SH_CLERK, 4200, NULL, 121, 50
185, Alexis, Bull, ABULL, 650.509.2876, 2005-02-20, SH_CLERK, 4100, NULL, 121, 50
186, Julia, Dellinger, JDELLING, 650.509.3876, 2006-06-24, SH_CLERK, 3400, NULL, 121, 50
187, Anthony, Cabrio, ACABRIO, 650.509.4876, 2007-02-07, SH_CLERK, 3000, NULL, 121, 50
188, Kelly, Chung, KCHUNG, 650.505.1876, 2005-06-14, SH_CLERK, 3800, NULL, 122, 50
189, Jennifer, Dilly, JDILLY, 650.505.2876, 2005-08-13, SH_CLERK, 3600, NULL, 122, 50
190, Timothy, Gates, TGATES, 650.505.3876, 2006-07-11, SH_CLERK, 2900, NULL, 122, 50
191, Randall, Perkins, RPERKINS, 650.505.4876, 2007-12-19, SH_CLERK, 2500, NULL, 122, 50
192, Sarah, Bell, SBELL, 650.501.1876, 2004-02-04, SH_CLERK, 4000, NULL, 123, 50
193, Britney, Everett, BEVERETT, 650.501.2876, 2005-03-03, SH_CLERK, 3900, NULL, 123, 50
194, Samuel, McCain, SMCCAIN, 650.501.3876, 2006-07-01, SH_CLERK, 3200, NULL, 123, 50
195, Vance, Jones, VJONES, 650.501.4876, 2007-03-17, SH_CLERK, 2800, NULL, 123, 50
196, Alana, Walsh, AWALSH, 650.507.9811, 2006-04-24, SH_CLERK, 3100, NULL, 124, 50
197, Kevin, Feeney, KFEENEY, 650.507.9822, 2006-05-23, SH_CLERK, 3000, NULL, 124, 50
198, Donald, OConnell, DOCONNEL, 650.507.9833, 2007-06-21, SH_CLERK, 2600, NULL, 124, 50
199, Douglas, Grant, DGRANT, 650.507.9844, 2008-01-13, SH_CLERK, 2600, NULL, 124, 50
200, Jennifer, Whalen, JWHALEN, 515.123.4444, 2003-09-17, AD_ASST, 4400, NULL, 101, 10
201, Michael, Hartstein, MHARTSTE, 515.123.5555, 2004-02-17, MK_MAN, 13000, NULL, 100, 20
202, Pat, Fay, PFAY, 603.123.6666, 2005-08-17, MK_REP, 6000, NULL, 201, 20
203, Susan, Mavris, SMAVRIS, 515.123.7777, 2002-06-07, HR_REP, 6500, NULL, 101, 40
204, Hermann, Baer, HBAER, 515.123.8888, 2002-06-07, PR_REP, 10000, NULL, 101, 70
205, Shelley, Higgins, SHIGGINS, 515.123.8080, 2002-06-07, AC_MGR, 12008, NULL, 101, 110
206, William, Gietz, WGIETZ, 515.123.8181, 2002-06-07, AC_ACCOUNT, 8300, NULL, 205, 110
Processed 108 lines include header.

**Instruksi 2:** Definisikan ulang procedure `read_file` untuk dapat **menampilkan kolom tertentu** berdasarkan indeks list (mulai dari 0) dengan menyediakan 3 parameter/argumen:

1.   `csv_file_name`: Nama File CSV
2.   `column_start`: Indeks kolom awal
3.   `column_end`: Indeks kolom akhir

In [336]:
def read_file(csv_file_name, column_start=0, column_end=None):
  with open(csv_path + csv_file_name, mode='r') as csv_file:
      csv_reader = csv.reader(csv_file, delimiter=',')
      line_count = 0
      for row in csv_reader:
          if column_end is None:
              print(", ".join(row[column_start:]))
          else:
              print(", ".join(row[column_start:column_end]))
              break
      line_count += 1
      print(f'Processed {line_count} lines include header.')
  csv_file.close()

Memanggil procedure `read_file` untuk membaca file `employees.csv` dengan pemilihan kolom tertentu.

Proses pemilihan kolom sama seperti melakukan slicing list pada Python.

In [337]:
# Menampilkan dari indeks awal 0 dari 3 indeks
read_file('employees.csv', 0, 3)

employee_id, first_name, last_name
Processed 1 lines include header.

In [338]:
# Menampilkan dari indeks awal 0 sampai akhir
read_file('employees.csv', 0)

employee_id, first_name, last_name, email, phone_number, hire_date, job_id, salary, commission_pct, manager_id, department_id
100, Steven, King, SKING, 515.123.4567, 2003-06-17, AD_PRES, 24000, NULL, NULL, 90
101, Neena, Kochhar, NKOCHHAR, 515.123.4568, 2005-09-21, AD_VP, 17000, NULL, 100, 90
102, Lex, 'De Haan', LDEHAAN, 515.123.4569, 2001-01-13, AD_VP, 17000, NULL, 100, 90
103, Alexander, Hunold, AHUNOLD, 590.423.4567, 2006-01-03, IT_PROG, 9000, NULL, 102, 60
104, Bruce, Ernst, BERNST, 590.423.4568, 2007-05-21, IT_PROG, 6000, NULL, 103, 60
105, David, Austin, DAUSTIN, 590.423.4569, 2005-06-25, IT_PROG, 4800, NULL, 103, 60
106, Valli, Pataballa, VPATABAL, 590.423.4560, 2006-02-05, IT_PROG, 4800, NULL, 103, 60
107, Diana, Lorentz, DLORENTZ, 590.423.5567, 2007-02-07, IT_PROG, 4200, NULL, 103, 60
108, Nancy, Greenberg, NGREENBE, 515.124.4569, 2002-08-17, FI_MGR, 12008, NULL, 101, 100
109, Daniel, Faviet, DFAVIET, 515.124.4169, 2002-08-16, FI_ACCOUNT, 9000, NULL, 108, 100
110, John, Chen, JCHEN, 515.124.4269, 2005-09-28, FI_ACCOUNT, 8200, NULL, 108, 100
111, Ismael, Sciarra, ISCIARRA, 515.124.4369, 2005-09-30, FI_ACCOUNT, 7700, NULL, 108, 100
112, 'Jose Manuel', Urman, JMURMAN, 515.124.4469, 2006-03-07, FI_ACCOUNT, 7800, NULL, 108, 100
113, Luis, Popp, LPOPP, 515.124.4567, 2007-12-07, FI_ACCOUNT, 6900, NULL, 108, 100
114, Den, Raphaely, DRAPHEAL, 515.127.4561, 2002-12-07, PU_MAN, 11000, NULL, 100, 30
115, Alexander, Khoo, AKHOO, 515.127.4562, 2003-05-18, PU_CLERK, 3100, NULL, 114, 30
116, Shelli, Baida, SBAIDA, 515.127.4563, 2005-12-24, PU_CLERK, 2900, NULL, 114, 30
117, Sigal, Tobias, STOBIAS, 515.127.4564, 2005-07-24, PU_CLERK, 2800, NULL, 114, 30
118, Guy, Himuro, GHIMURO, 515.127.4565, 2006-11-15, PU_CLERK, 2600, NULL, 114, 30
119, Karen, Colmenares, KCOLMENA, 515.127.4566, 2007-08-10, PU_CLERK, 2500, NULL, 114, 30
120, Matthew, Weiss, MWEISS, 650.123.1234, 2004-07-18, ST_MAN, 8000, NULL, 100, 50
121, Adam, Fripp, AFRIPP, 650.123.2234, 2005-04-10, ST_MAN, 8200, NULL, 100, 50
122, Payam, Kaufling, PKAUFLIN, 650.123.3234, 2003-05-01, ST_MAN, 7900, NULL, 100, 50
123, Shanta, Vollman, SVOLLMAN, 650.123.4234, 2005-10-10, ST_MAN, 6500, NULL, 100, 50
124, Kevin, Mourgos, KMOURGOS, 650.123.5234, 2007-11-16, ST_MAN, 5800, NULL, 100, 50
125, Julia, Nayer, JNAYER, 650.124.1214, 2005-07-16, ST_CLERK, 3200, NULL, 120, 50
126, Irene, Mikkilineni, IMIKKILI, 650.124.1224, 2006-09-28, ST_CLERK, 2700, NULL, 120, 50
127, James, Landry, JLANDRY, 650.124.1334, 2007-01-14, ST_CLERK, 2400, NULL, 120, 50
128, Steven, Markle, SMARKLE, 650.124.1434, 2008-03-08, ST_CLERK, 2200, NULL, 120, 50
129, Laura, Bissot, LBISSOT, 650.124.5234, 2005-08-20, ST_CLERK, 3300, NULL, 121, 50
130, Mozhe, Atkinson, MATKINSO, 650.124.6234, 2005-10-30, ST_CLERK, 2800, NULL, 121, 50
131, James, Marlow, JAMRLOW, 650.124.7234, 2005-02-16, ST_CLERK, 2500, NULL, 121, 50
132, TJ, Olson, TJOLSON, 650.124.8234, 2007-04-10, ST_CLERK, 2100, NULL, 121, 50
133, Jason, Mallin, JMALLIN, 650.127.1934, 2004-06-14, ST_CLERK, 3300, NULL, 122, 50
134, Michael, Rogers, MROGERS, 650.127.1834, 2006-08-26, ST_CLERK, 2900, NULL, 122, 50
135, Ki, Gee, KGEE, 650.127.1734, 2007-12-12, ST_CLERK, 2400, NULL, 122, 50
136, Hazel, Philtanker, HPHILTAN, 650.127.1634, 2008-02-06, ST_CLERK, 2200, NULL, 122, 50
137, Renske, Ladwig, RLADWIG, 650.121.1234, 2003-07-14, ST_CLERK, 3600, NULL, 123, 50
138, Stephen, Stiles, SSTILES, 650.121.2034, 2005-10-26, ST_CLERK, 3200, NULL, 123, 50
139, John, Seo, JSEO, 650.121.2019, 2006-02-12, ST_CLERK, 2700, NULL, 123, 50
140, Joshua, Patel, JPATEL, 650.121.1834, 2006-04-06, ST_CLERK, 2500, NULL, 123, 50
141, Trenna, Rajs, TRAJS, 650.121.8009, 2003-10-17, ST_CLERK, 3500, NULL, 124, 50
142, Curtis, Davies, CDAVIES, 650.121.2994, 2005-01-29, ST_CLERK, 3100, NULL, 124, 50
143, Randall, Matos, RMATOS, 650.121.2874, 2006-03-15, ST_CLERK, 2600, NULL, 124, 50
144, Peter, Vargas, PVARGAS, 650.121.2004, 2006-07-09, ST_CLERK, 2500, NULL, 124, 50
145, John, Russell, JRUSSEL, 011.44.1344.429268, 2004-10-01, SA_MAN, 14000, 0.4, 100, 80
146, Karen, Partners, KPARTNER, 011.44.1344.467268, 2005-01-05, SA_MAN, 13500, 0.3, 100, 80
147, Alberto, Errazuriz, AERRAZUR, 011.44.1344.429278, 2005-03-10, SA_MAN, 12000, 0.3, 100, 80
148, Gerald, Cambrault, GCAMBRAU, 011.44.1344.619268, 2007-10-15, SA_MAN, 11000, 0.3, 100, 80
149, Eleni, Zlotkey, EZLOTKEY, 011.44.1344.429018, 2008-01-29, SA_MAN, 10500, 0.2, 100, 80
150, Peter, Tucker, PTUCKER, 011.44.1344.129268, 2005-01-30, SA_REP, 10000, 0.3, 145, 80
151, David, Bernstein, DBERNSTE, 011.44.1344.345268, 2005-03-24, SA_REP, 9500, 0.25, 145, 80
152, Peter, Hall, PHALL, 011.44.1344.478968, 2005-08-20, SA_REP, 9000, 0.25, 145, 80
153, Christopher, Olsen, COLSEN, 011.44.1344.498718, 2006-03-30, SA_REP, 8000, 0.2, 145, 80
154, Nanette, Cambrault, NCAMBRAU, 011.44.1344.987668, 2006-12-09, SA_REP, 7500, 0.2, 145, 80
155, Oliver, Tuvault, OTUVAULT, 011.44.1344.486508, 2007-11-23, SA_REP, 7000, 0.15, 145, 80
156, Janette, King, JKING, 011.44.1345.429268, 2004-01-30, SA_REP, 10000, 0.35, 146, 80
157, Patrick, Sully, PSULLY, 011.44.1345.929268, 2004-03-04, SA_REP, 9500, 0.35, 146, 80
158, Allan, McEwen, AMCEWEN, 011.44.1345.829268, 2004-08-01, SA_REP, 9000, 0.35, 146, 80
159, Lindsey, Smith, LSMITH, 011.44.1345.729268, 2005-03-10, SA_REP, 8000, 0.3, 146, 80
160, Louise, Doran, LDORAN, 011.44.1345.629268, 2005-12-15, SA_REP, 7500, 0.3, 146, 80
161, Sarath, Sewall, SSEWALL, 011.44.1345.529268, 2006-11-03, SA_REP, 7000, 0.25, 146, 80
162, Clara, Vishney, CVISHNEY, 011.44.1346.129268, 2005-11-11, SA_REP, 10500, 0.25, 147, 80
163, Danielle, Greene, DGREENE, 011.44.1346.229268, 2007-03-19, SA_REP, 9500, 0.15, 147, 80
164, Mattea, Marvins, MMARVINS, 011.44.1346.329268, 2008-01-24, SA_REP, 7200, 0.1, 147, 80
165, David, Lee, DLEE, 011.44.1346.529268, 2008-02-23, SA_REP, 6800, 0.1, 147, 80
166, Sundar, Ande, SANDE, 011.44.1346.629268, 2008-03-24, SA_REP, 6400, 0.1, 147, 80
167, Amit, Banda, ABANDA, 011.44.1346.729268, 2008-04-21, SA_REP, 6200, 0.1, 147, 80
168, Lisa, Ozer, LOZER, 011.44.1343.929268, 2005-03-11, SA_REP, 11500, 0.25, 148, 80
169, Harrison, Bloom, HBLOOM, 011.44.1343.829268, 2006-03-23, SA_REP, 10000, 0.2, 148, 80
170, Tayler, Fox, TFOX, 011.44.1343.729268, 2006-01-24, SA_REP, 9600, 0.2, 148, 80
171, William, Smith, WSMITH, 011.44.1343.629268, 2007-02-23, SA_REP, 7400, 0.15, 148, 80
172, Elizabeth, Bates, EBATES, 011.44.1343.529268, 2007-03-24, SA_REP, 7300, 0.15, 148, 80
173, Sundita, Kumar, SKUMAR, 011.44.1343.329268, 2008-04-21, SA_REP, 6100, 0.1, 148, 80
174, Ellen, Abel, EABEL, 011.44.1644.429267, 2004-05-11, SA_REP, 11000, 0.3, 149, 80
175, Alyssa, Hutton, AHUTTON, 011.44.1644.429266, 2005-03-19, SA_REP, 8800, 0.25, 149, 80
176, Jonathon, Taylor, JTAYLOR, 011.44.1644.429265, 2006-03-24, SA_REP, 8600, 0.2, 149, 80
177, Jack, Livingston, JLIVINGS, 011.44.1644.429264, 2006-04-23, SA_REP, 8400, 0.2, 149, 80
178, Kimberely, Grant, KGRANT, 011.44.1644.429263, 2007-05-24, SA_REP, 7000, 0.15, 149, NULL
179, Charles, Johnson, CJOHNSON, 011.44.1644.429262, 2008-01-04, SA_REP, 6200, 0.1, 149, 80
180, Winston, Taylor, WTAYLOR, 650.507.9876, 2006-01-24, SH_CLERK, 3200, NULL, 120, 50
181, Jean, Fleaur, JFLEAUR, 650.507.9877, 2006-02-23, SH_CLERK, 3100, NULL, 120, 50
182, Martha, Sullivan, MSULLIVA, 650.507.9878, 2007-06-21, SH_CLERK, 2500, NULL, 120, 50
183, Girard, Geoni, GGEONI, 650.507.9879, 2008-02-03, SH_CLERK, 2800, NULL, 120, 50
184, Nandita, Sarchand, NSARCHAN, 650.509.1876, 2004-01-27, SH_CLERK, 4200, NULL, 121, 50
185, Alexis, Bull, ABULL, 650.509.2876, 2005-02-20, SH_CLERK, 4100, NULL, 121, 50
186, Julia, Dellinger, JDELLING, 650.509.3876, 2006-06-24, SH_CLERK, 3400, NULL, 121, 50
187, Anthony, Cabrio, ACABRIO, 650.509.4876, 2007-02-07, SH_CLERK, 3000, NULL, 121, 50
188, Kelly, Chung, KCHUNG, 650.505.1876, 2005-06-14, SH_CLERK, 3800, NULL, 122, 50
189, Jennifer, Dilly, JDILLY, 650.505.2876, 2005-08-13, SH_CLERK, 3600, NULL, 122, 50
190, Timothy, Gates, TGATES, 650.505.3876, 2006-07-11, SH_CLERK, 2900, NULL, 122, 50
191, Randall, Perkins, RPERKINS, 650.505.4876, 2007-12-19, SH_CLERK, 2500, NULL, 122, 50
192, Sarah, Bell, SBELL, 650.501.1876, 2004-02-04, SH_CLERK, 4000, NULL, 123, 50
193, Britney, Everett, BEVERETT, 650.501.2876, 2005-03-03, SH_CLERK, 3900, NULL, 123, 50
194, Samuel, McCain, SMCCAIN, 650.501.3876, 2006-07-01, SH_CLERK, 3200, NULL, 123, 50
195, Vance, Jones, VJONES, 650.501.4876, 2007-03-17, SH_CLERK, 2800, NULL, 123, 50
196, Alana, Walsh, AWALSH, 650.507.9811, 2006-04-24, SH_CLERK, 3100, NULL, 124, 50
197, Kevin, Feeney, KFEENEY, 650.507.9822, 2006-05-23, SH_CLERK, 3000, NULL, 124, 50
198, Donald, OConnell, DOCONNEL, 650.507.9833, 2007-06-21, SH_CLERK, 2600, NULL, 124, 50
199, Douglas, Grant, DGRANT, 650.507.9844, 2008-01-13, SH_CLERK, 2600, NULL, 124, 50
200, Jennifer, Whalen, JWHALEN, 515.123.4444, 2003-09-17, AD_ASST, 4400, NULL, 101, 10
201, Michael, Hartstein, MHARTSTE, 515.123.5555, 2004-02-17, MK_MAN, 13000, NULL, 100, 20
202, Pat, Fay, PFAY, 603.123.6666, 2005-08-17, MK_REP, 6000, NULL, 201, 20
203, Susan, Mavris, SMAVRIS, 515.123.7777, 2002-06-07, HR_REP, 6500, NULL, 101, 40
204, Hermann, Baer, HBAER, 515.123.8888, 2002-06-07, PR_REP, 10000, NULL, 101, 70
205, Shelley, Higgins, SHIGGINS, 515.123.8080, 2002-06-07, AC_MGR, 12008, NULL, 101, 110
206, William, Gietz, WGIETZ, 515.123.8181, 2002-06-07, AC_ACCOUNT, 8300, NULL, 205, 110
Processed 1 lines include header.

In [339]:
# Menampilkan dari indeks awal 3 dari 5 indeks
read_file('employees.csv', 3, 5)

email, phone_number
Processed 1 lines include header.

**Instruksi 3:** Definisikan ulang procedure `read_file` untuk membaca file CSV dengan **jumlah baris yang dapat dibatasi**.

Diperlukan sebanyak 4 parameter/argumen sebagai berikut:
1.   `csv_file_name`: Nama File CSV
2.   `column_start`: Indeks kolom awal
3.   `column_end`: Indeks kolom akhir
4.   `limit`: Nilai batas jumlah baris, dimulai dari baris pertama

In [340]:
def read_file(csv_file_name, column_start=0, column_end=None, limit=None):
  with open(csv_path + csv_file_name, mode='r') as csv_file:
      csv_reader = csv.reader(csv_file, delimiter=',')
      line_count = 0
      for row in csv_reader:
          if limit is not None and line_count >= limit:
              break
          if column_end is None:
              print(", ".join(row[column_start:]))
          else:
              print(", ".join(row[column_start:column_end]))
          line_count += 1
      print(f'Processed {line_count} lines include header.')
  csv_file.close()

Memanggil procedure `read_file` untuk membaca file `employees.csv`, mulai dari indeks awal 3 dari 5 indeks, sebanyak 10 baris.

In [341]:
read_file('employees.csv', 3, 5, 10)

email, phone_number
SKING, 515.123.4567
NKOCHHAR, 515.123.4568
LDEHAAN, 515.123.4569
AHUNOLD, 590.423.4567
BERNST, 590.423.4568
DAUSTIN, 590.423.4569
VPATABAL, 590.423.4560
DLORENTZ, 590.423.5567
NGREENBE, 515.124.4569
Processed 10 lines include header.

**Instruksi 4:** Definisikan ulang procedure `read_file` untuk membaca file CSV dengan **sortir pada kolom pertama**.

Diperlukan sebanyak 4 parameter/argumen sebagai berikut:
1.   `csv_file_name`: Nama File CSV
2.   `column_start`: Indeks kolom awal
3.   `column_end`: Indeks kolom akhir
4.   `limit`: Nilai batas jumlah baris, dimulai dari baris pertama
5.   `sort`: Sortir berdasarkan kolom pertama terpilih, dengan urutan Ascending (1), Descending (-1), dan Default (0) atau tanpa parameter.

In [342]:
# Current read_file procedure saves all row(s) first into list
# It is more practical to manipulate data in list
# Add 5th paramater to sort by the column_start
def read_file(csv_file_name, column_start=0, column_end=None, limit=None, sort=0):
  with open(csv_path + csv_file_name, mode='r') as csv_file:
      csv_reader = list(csv.reader(csv_file, delimiter=','))

      if sort == 1:
          csv_reader.sort(key=lambda x: x[column_start])
      elif sort == -1:
          csv_reader.sort(key=lambda x: x[column_start], reverse=True)

      line_count = 0
      for row in csv_reader:
          if limit is not None and line_count >= limit:
              break
          if column_end is None:
              print(", ".join(row[column_start:]))
          else:
              print(", ".join(row[column_start:column_end]))

          line_count += 1
      print(f'Processed {line_count} lines include header.')
  csv_file.close()

In [343]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Memanggil procedure `read_file` untuk membaca file `employees.csv` dengan **sortir berdasarkan kolom pertama**.

In [344]:
# Sorted by `email` in descending order
read_file('employees.csv', 3, 5, 10, -1)

email, phone_number
WTAYLOR, 650.507.9876
WSMITH, 011.44.1343.629268
WGIETZ, 515.123.8181
VPATABAL, 590.423.4560
VJONES, 650.501.4876
TRAJS, 650.121.8009
TJOLSON, 650.124.8234
TGATES, 650.505.3876
TFOX, 011.44.1343.729268
Processed 10 lines include header.

In [345]:
# Sorted by `email` in ascending order
read_file('employees.csv', 3, 5, 10, 1)

ABANDA, 011.44.1346.729268
ABULL, 650.509.2876
ACABRIO, 650.509.4876
AERRAZUR, 011.44.1344.429278
AFRIPP, 650.123.2234
AHUNOLD, 590.423.4567
AHUTTON, 011.44.1644.429266
AKHOO, 515.127.4562
AMCEWEN, 011.44.1345.829268
AWALSH, 650.507.9811
Processed 10 lines include header.

# Procedure Find File
**Instruksi 5:** Definisikan procedure `find_file` untuk **mencari dan menampilkan data terpilih berdasarkan kata kunci**.

1.   `csv_file_name`: Nama File CSV
2.   `index_column`: Indeks kolom yang dijadikan acuan untuk pencarian
3.   `keyword`: Kata kunci pencarian

In [346]:
def find_file(csv_file_name, index_column, keyword):
# tuliskan kode sesuai instruksi di sini
    with open(csv_path + csv_file_name, mode='r') as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        found = False
        line_count = 0

        for row in csv_reader:
            if keyword.lower() in row[index_column].lower():
                print(", ".join(row))
                found = True
            line_count += 1

        if not found:
            print(f"Tidak ditemukan data dengan kata kunci '{keyword}' pada kolom {index_column}.")
        else:
            print(f"Processed {line_count} lines. Ditemukan hasil yang sesuai.")
    csv_file.close()

**Instruksi 6:** Gunakan procedure `find_file` dengan parameter/argumen sebagai berikut:

1.   `csv_file_name`: `'employees.csv'`
2.   `index_column`: `5`
3.   `keyword`: `'2004'`

In [347]:
# tuliskan kode sesuai instruksi di sini
find_file('employees.csv', 5, '2004')

120, Matthew, Weiss, MWEISS, 650.123.1234, 2004-07-18, ST_MAN, 8000, NULL, 100, 50
133, Jason, Mallin, JMALLIN, 650.127.1934, 2004-06-14, ST_CLERK, 3300, NULL, 122, 50
145, John, Russell, JRUSSEL, 011.44.1344.429268, 2004-10-01, SA_MAN, 14000, 0.4, 100, 80
156, Janette, King, JKING, 011.44.1345.429268, 2004-01-30, SA_REP, 10000, 0.35, 146, 80
157, Patrick, Sully, PSULLY, 011.44.1345.929268, 2004-03-04, SA_REP, 9500, 0.35, 146, 80
158, Allan, McEwen, AMCEWEN, 011.44.1345.829268, 2004-08-01, SA_REP, 9000, 0.35, 146, 80
174, Ellen, Abel, EABEL, 011.44.1644.429267, 2004-05-11, SA_REP, 11000, 0.3, 149, 80
184, Nandita, Sarchand, NSARCHAN, 650.509.1876, 2004-01-27, SH_CLERK, 4200, NULL, 121, 50
192, Sarah, Bell, SBELL, 650.501.1876, 2004-02-04, SH_CLERK, 4000, NULL, 123, 50
201, Michael, Hartstein, MHARTSTE, 515.123.5555, 2004-02-17, MK_MAN, 13000, NULL, 100, 20
Processed 108 lines. Ditemukan hasil yang sesuai.

**Instruksi 7:** Gunakan procedure `find_file` dengan parameter/argumen sebagai berikut:

1.   `csv_file_name`: `'employees.csv'`
2.   `index_column`: `6`
3.   `keyword`: `'SA_REP'`

In [348]:
# tuliskan kode sesuai instruksi di sini
find_file('employees.csv', 6, 'SA_REP')

150, Peter, Tucker, PTUCKER, 011.44.1344.129268, 2005-01-30, SA_REP, 10000, 0.3, 145, 80
151, David, Bernstein, DBERNSTE, 011.44.1344.345268, 2005-03-24, SA_REP, 9500, 0.25, 145, 80
152, Peter, Hall, PHALL, 011.44.1344.478968, 2005-08-20, SA_REP, 9000, 0.25, 145, 80
153, Christopher, Olsen, COLSEN, 011.44.1344.498718, 2006-03-30, SA_REP, 8000, 0.2, 145, 80
154, Nanette, Cambrault, NCAMBRAU, 011.44.1344.987668, 2006-12-09, SA_REP, 7500, 0.2, 145, 80
155, Oliver, Tuvault, OTUVAULT, 011.44.1344.486508, 2007-11-23, SA_REP, 7000, 0.15, 145, 80
156, Janette, King, JKING, 011.44.1345.429268, 2004-01-30, SA_REP, 10000, 0.35, 146, 80
157, Patrick, Sully, PSULLY, 011.44.1345.929268, 2004-03-04, SA_REP, 9500, 0.35, 146, 80
158, Allan, McEwen, AMCEWEN, 011.44.1345.829268, 2004-08-01, SA_REP, 9000, 0.35, 146, 80
159, Lindsey, Smith, LSMITH, 011.44.1345.729268, 2005-03-10, SA_REP, 8000, 0.3, 146, 80
160, Louise, Doran, LDORAN, 011.44.1345.629268, 2005-12-15, SA_REP, 7500, 0.3, 146, 80
161, Sarath, Sewall, SSEWALL, 011.44.1345.529268, 2006-11-03, SA_REP, 7000, 0.25, 146, 80
162, Clara, Vishney, CVISHNEY, 011.44.1346.129268, 2005-11-11, SA_REP, 10500, 0.25, 147, 80
163, Danielle, Greene, DGREENE, 011.44.1346.229268, 2007-03-19, SA_REP, 9500, 0.15, 147, 80
164, Mattea, Marvins, MMARVINS, 011.44.1346.329268, 2008-01-24, SA_REP, 7200, 0.1, 147, 80
165, David, Lee, DLEE, 011.44.1346.529268, 2008-02-23, SA_REP, 6800, 0.1, 147, 80
166, Sundar, Ande, SANDE, 011.44.1346.629268, 2008-03-24, SA_REP, 6400, 0.1, 147, 80
167, Amit, Banda, ABANDA, 011.44.1346.729268, 2008-04-21, SA_REP, 6200, 0.1, 147, 80
168, Lisa, Ozer, LOZER, 011.44.1343.929268, 2005-03-11, SA_REP, 11500, 0.25, 148, 80
169, Harrison, Bloom, HBLOOM, 011.44.1343.829268, 2006-03-23, SA_REP, 10000, 0.2, 148, 80
170, Tayler, Fox, TFOX, 011.44.1343.729268, 2006-01-24, SA_REP, 9600, 0.2, 148, 80
171, William, Smith, WSMITH, 011.44.1343.629268, 2007-02-23, SA_REP, 7400, 0.15, 148, 80
172, Elizabeth, Bates, EBATES, 011.44.1343.529268, 2007-03-24, SA_REP, 7300, 0.15, 148, 80
173, Sundita, Kumar, SKUMAR, 011.44.1343.329268, 2008-04-21, SA_REP, 6100, 0.1, 148, 80
174, Ellen, Abel, EABEL, 011.44.1644.429267, 2004-05-11, SA_REP, 11000, 0.3, 149, 80
175, Alyssa, Hutton, AHUTTON, 011.44.1644.429266, 2005-03-19, SA_REP, 8800, 0.25, 149, 80
176, Jonathon, Taylor, JTAYLOR, 011.44.1644.429265, 2006-03-24, SA_REP, 8600, 0.2, 149, 80
177, Jack, Livingston, JLIVINGS, 011.44.1644.429264, 2006-04-23, SA_REP, 8400, 0.2, 149, 80
178, Kimberely, Grant, KGRANT, 011.44.1644.429263, 2007-05-24, SA_REP, 7000, 0.15, 149, NULL
179, Charles, Johnson, CJOHNSON, 011.44.1644.429262, 2008-01-04, SA_REP, 6200, 0.1, 149, 80
Processed 108 lines. Ditemukan hasil yang sesuai.

# Procedure Insert File
**Instruksi 8:** Definisikan procedure `insert_file` untuk menambahkan data baru pada posisi baris paling akhir.

1.   `csv_file_name`: Nama File CSV
2.   `list_data`: List yang berisikan satu baris data dan memiliki data sesuai dengan jumlah kolom pada File CSV terpilih

In [349]:
def insert_file(csv_file_name, list_data):
  # tuliskan kode sesuai instruksi di sini
  with open(csv_path + csv_file_name, mode='a', newline='') as csv_file:
        csv_writer = csv.writer(csv_file)
        csv_writer.writerow(list_data)
        print(f"Data {list_data} berhasil ditambahkan ke {csv_file_name}")
  csv_file.close()

Memanggil procedure `insert_file` untuk menambahkan satu baris data pada file `countries.csv`.

In [350]:
insert_file('countries.csv', ['ID', 'Indonesia', 1])

Data ['ID', 'Indonesia', 1] berhasil ditambahkan ke countries.csv

In [351]:
insert_file('countries.csv', ['ZL', 'New Zealand', 1])

Data ['ZL', 'New Zealand', 1] berhasil ditambahkan ke countries.csv

In [352]:
read_file('countries.csv')

country_id, country_name, region_id
AR, Argentina, 2
AU, Australia, 3
BE, Belgium, 1
BR, Brazil, 2
CA, Canada, 2
CH, Switzerland, 1
CN, China, 3
DE, Germany, 1
DK, Denmark, 1
EG, Egypt, 4
FR, France, 1
IL, Israel, 4
IN, India, 3
IT, Italy, 1
JP, Japan, 3
KW, Kuwait, 4
ML, Malaysia, 3
MX, Mexico, 2
NG, Nigeria, 4
NL, Netherlands, 1
SG, Singapore, 3
UK, 'United Kingdom', 1
US, 'United States of America', 2
ZM, Zambia, 4
ZW, Zimbabwe, 4
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Indonesia, 1
ZL, New Zealand, 1
Processed 42 lines include header.

# Procedure Update File
**Instruksi 9:** Definisikan procedure `update_file` untuk **mengubah satu data yang telah ada, berdasarkan kolom paling pertama**.

1.   `csv_file_name`: Nama File CSV
2.   `keyword`: Kata kunci untuk menemukan baris yang akan diubah, hanya berdasarkan kolom paling pertama
2.   `index_column`: Indeks kolom yang nilainya akan diubah, dimulai dari indeks 0
3.   `new_value`: Nilai baru untuk mengubah nilai sebelumnya

In [353]:
# Procedure update_file saves all row(s) first into list
# It is more practical to manipulate data in list
def update_file(csv_file_name, keyword, index_column, new_value):
  # tuliskan kode sesuai instruksi di sini
  updated = False
  rows = []

  with open(csv_path + csv_file_name, mode='r', newline='', encoding='utf-8') as csv_file:
        reader = csv.reader(csv_file)
        for row in reader:
            if row[0] == keyword:
                if 0 <= index_column < len(row):
                    row[index_column] = new_value
                    updated = True
            rows.append(row)

  with open(csv_path + csv_file_name, mode='w', newline='', encoding='utf-8') as csv_file:
        writer = csv.writer(csv_file)
        writer.writerows(rows)

  if updated:
        print(f"Data dengan keyword '{keyword}' berhasil diupdate.")
  else:
        print(f"Data dengan keyword '{keyword}' tidak ditemukan.")

In [354]:
# Mengubah data dengan kolom pertama bernilai 'ID', indeks kolom ke-2, dengan nilai baru '3'
update_file('countries.csv', 'ID', 2, 3)

Data dengan keyword 'ID' berhasil diupdate.

In [355]:
# Memeriksa hasil perubahan data
read_file('countries.csv')

country_id, country_name, region_id
AR, Argentina, 2
AU, Australia, 3
BE, Belgium, 1
BR, Brazil, 2
CA, Canada, 2
CH, Switzerland, 1
CN, China, 3
DE, Germany, 1
DK, Denmark, 1
EG, Egypt, 4
FR, France, 1
IL, Israel, 4
IN, India, 3
IT, Italy, 1
JP, Japan, 3
KW, Kuwait, 4
ML, Malaysia, 3
MX, Mexico, 2
NG, Nigeria, 4
NL, Netherlands, 1
SG, Singapore, 3
UK, 'United Kingdom', 1
US, 'United States of America', 2
ZM, Zambia, 4
ZW, Zimbabwe, 4
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Indonesia, 3
ZL, New Zealand, 1
Processed 42 lines include header.

In [356]:
# Mengubah data dengan kolom pertama bernilai 'ID', indeks kolom ke-1, dengan nilai baru 'Negara Kesatuan Republik Indonesia'
update_file('countries.csv', 'ID', 1, 'Negara Kesatuan Republik Indonesia')

Data dengan keyword 'ID' berhasil diupdate.

In [357]:
# Memeriksa hasil perubahan data
read_file('countries.csv')

country_id, country_name, region_id
AR, Argentina, 2
AU, Australia, 3
BE, Belgium, 1
BR, Brazil, 2
CA, Canada, 2
CH, Switzerland, 1
CN, China, 3
DE, Germany, 1
DK, Denmark, 1
EG, Egypt, 4
FR, France, 1
IL, Israel, 4
IN, India, 3
IT, Italy, 1
JP, Japan, 3
KW, Kuwait, 4
ML, Malaysia, 3
MX, Mexico, 2
NG, Nigeria, 4
NL, Netherlands, 1
SG, Singapore, 3
UK, 'United Kingdom', 1
US, 'United States of America', 2
ZM, Zambia, 4
ZW, Zimbabwe, 4
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
ZL, New Zealand, 1
Processed 42 lines include header.

In [358]:
# Mengubah data dengan kolom pertama bernilai 'ZL', indeks kolom ke-0, dengan nilai baru 'NZ'
update_file('countries.csv', 'ZL', 0, 'NZ')

Data dengan keyword 'ZL' berhasil diupdate.

In [359]:
# Memeriksa hasil perubahan data
read_file('countries.csv')

country_id, country_name, region_id
AR, Argentina, 2
AU, Australia, 3
BE, Belgium, 1
BR, Brazil, 2
CA, Canada, 2
CH, Switzerland, 1
CN, China, 3
DE, Germany, 1
DK, Denmark, 1
EG, Egypt, 4
FR, France, 1
IL, Israel, 4
IN, India, 3
IT, Italy, 1
JP, Japan, 3
KW, Kuwait, 4
ML, Malaysia, 3
MX, Mexico, 2
NG, Nigeria, 4
NL, Netherlands, 1
SG, Singapore, 3
UK, 'United Kingdom', 1
US, 'United States of America', 2
ZM, Zambia, 4
ZW, Zimbabwe, 4
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
Processed 42 lines include header.

# Procedure Delete File
**Instruksi 10:** Definisikan procedure `delete_file` untuk **menghapus satu data yang telah ada, berdasarkan kolom paling pertama**.

1.   `csv_file_name`: Nama File CSV
2.   `keyword`: Kata kunci untuk menemukan baris yang akan dihapus, hanya berdasarkan kolom paling pertama

In [360]:
# Procedure delete_file saves all row(s) first into list
# It is more practical to manipulate data in list
def delete_file(csv_file_name, keyword):
  rows = []
  with open(csv_file_name, mode='r', newline='', encoding='utf-8') as file:
      reader = csv.reader(file)
      for row in reader:
          if row[0] != keyword:
              rows.append(row)

  with open(csv_file_name, mode='w', newline='', encoding='utf-8') as file:
      writer = csv.writer(file)
      writer.writerows(rows)
  # tuliskan kode sesuai instruksi di sini

In [361]:
# Menghapus data dengan kolom pertama bernilai 'NZ'
delete_file('countries.csv', 'NZ')

In [362]:
# Memeriksa hasil penghapusan data
read_file('countries.csv')

country_id, country_name, region_id
AR, Argentina, 2
AU, Australia, 3
BE, Belgium, 1
BR, Brazil, 2
CA, Canada, 2
CH, Switzerland, 1
CN, China, 3
DE, Germany, 1
DK, Denmark, 1
EG, Egypt, 4
FR, France, 1
IL, Israel, 4
IN, India, 3
IT, Italy, 1
JP, Japan, 3
KW, Kuwait, 4
ML, Malaysia, 3
MX, Mexico, 2
NG, Nigeria, 4
NL, Netherlands, 1
SG, Singapore, 3
UK, 'United Kingdom', 1
US, 'United States of America', 2
ZM, Zambia, 4
ZW, Zimbabwe, 4
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
ID, Negara Kesatuan Republik Indonesia, 3
NZ, New Zealand, 1
Processed 42 lines include header.